{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start (login_form,{'attr':{'id':'custom_post_form'}})}}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 style="color: white;text-align: center">Please sign in</h1>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">
        {{ form_row(login_form.email,{'attr':{'value':last_username}}) }}
        {{ form_row(login_form.password)}}
        <input type="submit" class=" btn btn-success mt-3" value="Submit" name="Submit" />
        {{ form_end (login_form)}}
    </div>
{% endblock %}
