body{
    font-family: myFont;
    color: white;
    font-size: 20px;
    text-align: justify;
}
h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.form-control ,.col-md-12{
    font-size: 20px;
    margin-bottom: 30px;
}

#artist1_videoLinks_0_name, #artist1_videoLinks_1_name, #artist1_videoLinks_2_name, #artist1_videoLinks_3_name{
    text-indent: 10px;
    width:100%;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 50px;
    margin-top: 30px;
}

.btn{
    font-size: 20px;
}

.editPage{
    width:150px;
    margin-bottom: 30px;
}
.indexPage{
    width:100px;
}
.showPage{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
}

.showPageButton{
    width:150px;
    margin-bottom: 30px;

}
.deleteLinks{
    position: relative;
    right: 3%;
    margin-top:3%;
}
.linkDelete{
    margin-top:40%;

}
.pagination li{
    margin:0 20px;
    font-size: 25px;
}
.pagination li a:link,.pagination li a:active{
  text-decoration: none;
  color: gray;
}
.pagination li a:hover,.pagination li a:visited{
    text-decoration: none;
    color: white;

}
li{
    color:red;
    list-style-type: none;
}

#artist1_videoLinks_0 div ul li, #artist1_videoLinks_1 div ul li, #artist1_videoLinks_2 div ul li, #artist1_videoLinks_3 div ul li{
    position: relative;
    bottom:-95px;
    left: 33%;
}
#artist1_videoLinks_0 div ul,#artist1_videoLinks_1 div ul,#artist1_videoLinks_2 div ul,#artist1_videoLinks_3 div ul{
    padding: 0;
    margin: 0;
    height: 0;
}

.pictureAdmin{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.pictureAdmin img{
    height: 100%;
    margin: auto;
}
