.artist_group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}


.picture_artist{
    width: 300px;
    height: 300px;
    transition: transform 1s ease;
    border: 1px solid white;
}

.object{
    margin-bottom: 70px;
}
.picture_link{
    position: relative;
    top:-30px;
    font-family: myFont;
    color: white;
    font-size: 30px;
}
.picture_artist:hover,.picture_link:hover > img {
    transform: scale(1.1);
}

.picture_link:hover{
    text-decoration:none;
    color: white;
}
.no-Foto{
    position: relative;
    top:40%;
}
.pagination li{
    margin:0 20px;
    font-size: 25px;
}
.pagination li a:link,.pagination li a:active{
    text-decoration: none;
    color: gray;
}
.pagination li a:hover,.pagination li a:visited{
    text-decoration: none;
    color: white;

}

.NothingFound{
    color: white;
}

.imageBlock{
    width: 300px;
    height: 300px;
}
