body span.switcher {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    left: 150px;
    margin: 20px 0;
}
body span.switcher input {
    -webkit-appearance: none;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #1e1e1e;
    outline: none;
    font-family: 'Oswald', sans-serif;
}
body span.switcher input:before, body span.switcher input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
body span.switcher input:before {
    content: 'NO';
    left: 20px;
}
body span.switcher input:after {
    content: 'Yes';
    right: 20px;
}
body span.switcher label {
    z-index: 1;
    position: absolute;
    left: -150px;
    bottom: 10px;
    border-radius: 20px;
}
body span.switcher.artist1_approved input {
    transition: 0.25s -0.1s;
}
body span.switcher.artist1_approved input:checked {
    background-color: #fff;
}
body span.switcher.artist1_approved input:checked:before {
    color: #fff;
    transition: color 0.5s 0.2s;
}
body span.switcher.artist1_approved input:checked:after {
    color: gray;
    transition: color 0.5s;
}
body span.switcher.artist1_approved input:checked + label {
    left: 10px;
    right: 100px;
    background: #1e1e1e;
    transition: left 0.5s, right 0.4s 0.2s;
}
body span.switcher.artist1_approved input:not(:checked) {
    background: #1e1e1e;
    transition: background 0.5s -0.1s;
}
body span.switcher.artist1_approved input:not(:checked):before {
    color: gray;
    transition: color 0.5s;
}
body span.switcher.artist1_approved input:not(:checked):after {
    color: #1e1e1e;
    transition: color 0.5s 0.2s;
}
body span.switcher.artist1_approved input:not(:checked) + label {
    left: 100px;
    right: 10px;
    background: #fff;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
