/*fonts*/
html, body{
    background:black;
    color: white;
    font-family: myFont;
    font-size: 20px;

}
input{
    margin:20px 0;
}

label{
    color: white;
}
select{
    margin-bottom: 20px;
}
#artist_biography{
    margin-top: 20px;

}
.linkButton{
    list-style-type: none;
    margin-top: 10px;
}

.list-group-item {
    padding:0 ;
    background-color: black;
}
.list-group-item input {
    border-radius: 5px;
    text-indent: 10px;
    height: 50px;
    width: 100%;
}

p{
    margin-bottom: 0;
    margin-top: 20px;
}

.btn{
    margin-top: 0;
}
li{
    color:red;
    list-style-type: none;
}
#artist_videoLinks_0 div ul li, #artist_videoLinks_1 div ul li, #artist_videoLinks_2 div ul li, #artist_videoLinks_3 div ul li{
    position: relative;
    bottom:-95px;
    left: 33%;
}
#artist_videoLinks_0 div ul,#artist_videoLinks_1 div ul,#artist_videoLinks_2 div ul,#artist_videoLinks_3 div ul{
   padding: 0;
    margin: 0;
    height: 0;
}
input:after{
    border: 1px solid red;
}
input.error, textarea.error {
    border: 2px solid red;

}
label.error {
    color:red;
}
