.linksGroup{
    list-style-type: none;
    color:white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: auto;
}
.imageLinks > *{
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    color:white;
    font-family: myFont;
    font-size: 30px;
}

.mainLinks:hover,.imageLinks:hover > img {
    transform: scale(1.1);
}
.imageLinks:hover{
    text-decoration: none;
}
.mainLinks{
    border: 1px solid white;
    transition: transform 1s ease;
}
.linksGroup1{
    list-style-type: none;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



