{% form_theme form 'jquery.collection.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
    {{ form_errors(form.name) }}

    {{ form_row(form.country,{'attr':{'class':'form-control'}} )}}
    {{ form_row(form.stage_name,{'attr':{'class':'form-control'}} )}}
    {{ form_row(form.email,{'attr':{'class':'form-control'}} )}}
    {{ form_row(form.number,{'attr':{'class':'form-control'}} )}}

    {{ form_row(form.biography,{'attr':{'class':'col-md-12','rows':8}} )}}
    <span class="switcher artist1_approved">
        {{ form_row(form.approved)}}
    </span>
    {{ form_row(form.type,{'attr':{'class':'form-control'}})}}
    <h2>Fotos:</h2>
    <div>
        <label for="artist1_files" class="btn btn-primary w-25">Upload</label>
        {{ form_widget(form.files,{'attr':{'id':'image_uploads','name':'image_uploads'}}) }}
    </div>
    <div class ="preview">
        <p></p>
    </div>
    <div class="d-flex flex-wrap flex-row justify-content-around mt-4">
        {% if artist.photos |length < 1%}
            <h1>No Fotos</h1>
        {% endif %}
        {% for foto in artist.photos %}
            <div class="pictureAdmin">
            <a href="{{ path('fotoDelete') }}" class="foto-delete" id="{{ foto.id }}">
                <img class="d-block" src="{{ asset('uploads/fotos/'~foto.path) }}" alt="Foto">
            </a>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex" >
        <div class="w-100 mt-5">
            {{ form_row(form.videoLinks,{'label':'Video Links:'})}}
        </div>
    </div>
    <button class="btn btn-warning editPage mt-5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
