{% extends 'AdminController/index.html.twig' %}

{% block title %}Edit Artist{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/checkbox.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="container">
    <h3>Edit Artist</h3>

    {{ include('AdminController/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('AdminController/_delete_form.html.twig') }}

    <a href="{{ path('artist_index') }}" class="btn btn-info editPage">Back to list</a>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fotosAdmin.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/adminFotoDelete.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.collection.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.my-selector').collection();
    </script>

{% endblock %}
