{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet" />
{% endblock %}
{% block header %}
    <div class="container">
        <div class="d-flex flex-row flex-wrap justify-content-between mb-5">
            <div>
             <img src="{{ asset('images/Logo.jpeg') }}" class="img-fluid rounded logo-0" width="250" height="250">
                <div class="d-flex justify-content-center w-100">
                    <a class="btn btn-primary w-75" href="{{ path('artist_index') }}"><h2>Home</h2></a>
                </div>
            </div>
            </div>
    </div>
        {% endblock %}
{% block body %}
    <div class="container">
    <h3>Artist index</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Stage Name</th>
                <th>Approved</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.name }}</td>
                <td>{{ artist.country }}</td>
                <td>{{ artist.stageName }}</td>
                <td>{{ artist.approved ? 'Yes' : 'No' }}</td>
                <td>{{ artist.type }}</td>
                <td>
                    <a href="{{ path('artist_show', {'id': artist.id}) }}" class="btn btn-primary indexPage">Show</a>
                    <a href="{{ path('artist_edit', {'id': artist.id}) }}" class="btn btn-success indexPage">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('add_artist')}}" class="btn btn-danger">Create New</a>
        <div class="navigation mt-5 d-flex justify-content-center">
            {{ knp_pagination_render(artists) }}
        </div>
    </div>
{% endblock %}
