{% extends 'AdminController/index.html.twig' %}

{% block title %}Artist{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
    <h3>Artist</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ artist.name }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ artist.number }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ artist.country }}</td>
            </tr>
            <tr>
                <th>Stage Name</th>
                <td>{{ artist.stageName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ artist.email }}</td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ artist.biography|nl2br}}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{{ artist.approved ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ artist.type }}</td>
            </tr>


        </tbody>
    </table>

        <h1>Fotos:</h1>
        <div class="d-flex flex-wrap flex-row justify-content-around">
            {% if artist.photos |length < 1%}
                <h1>No Fotos</h1>
            {% endif %}
        {% for foto in artist.photos %}
            <div class="pictureAdmin">
           <img class="d-block" src="{{ asset('uploads/fotos/'~foto.path) }}" alt="Foto">
            </div>
        {% endfor %}
        </div>

        <h1>Videos:</h1>
        <div class="d-flex flex-wrap flex-row justify-content-around m-5">
            {% for video in links %}
                <iframe class="d-block m-4 videos" src="{{video}}" width="400px" height="400px" style="border: 1px solid white"></iframe>
            {% endfor %}
        </div>

        <div class='showPage'>
    <a href="{{ path('artist_index') }}" class="btn btn-info showPageButton">Back to list</a>
    <a href="{{ path('artist_edit', {'id': artist.id}) }}" class="btn btn-warning showPageButton">Edit</a>
    {{ include('AdminController/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
