<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
            <link rel="icon" href="/favicon.ico" type="image/x-icon">
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <div class="container">
            <div class="d-flex flex-row flex-wrap justify-content-between mb-1">

            <div>
                 <img src="{{ asset('images/Logo.jpeg') }}" class="img-fluid rounded logo-0" width="250" height="250">
            </div>

                <div>
                 <nav class="navbar navbar-expand-lg navbar-dark mt-5 ml-4 p-0 bg-dark">
                     <button class="navbar-toggler w-100" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse bg-dark" id="navbarTogglerDemo03">
                    <ul class="navbar-nav bg-dark">
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('home_page') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('about') }}">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Artists
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('show_all') }}">All Artists</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Ballroom Couples'})) }}">Ballroom Couples</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Musician'})) }}">Musicians</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Specialty'})) }}">Specialty</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Singers'})) }}">Singers</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Dancer'})) }}">Dancers</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Acrobatics'})) }}">Acrobatics</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Juggling'})) }}">Jugglers</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Hand-Ballancing'})) }}">Hand Balancing</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Adage'})) }}">Adagio Dancers</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Aerial Acts'})) }}">Aerial Acts</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Magic'})) }}">Magicians</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Ice Skaters'})) }}">Ice Skaters</a>
                                <a class="dropdown-item" href="{{ path('show_category',({'name':'Headliners'})) }}">Headliners</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contacts') }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('add_artist') }}">Join</a>
                        </li>
                    </ul>
                     </div>
            </nav>
                </div>
            </div>
        </div>
    {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
