{% extends 'base.html.twig' %}
{% block title %}{{title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/allArtistsOneType.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="artist_group d-flex justify-content-around">
        {% for artist in artists %}
             <div class="object">
                 {% if artist.photos is not empty %}
                    <a href="{{ path('artist_info',{'id':artist.id}) }}" class="picture_link">
                    {% if artist.number is not empty %}
                         {{ artist.number}}
                    {% else %}
                        No name
                    {% endif %}
                    {% set photo = artist.photos|first %}
                        <div class="picture_artist d-flex align-items-center">
                        <img src="{{ asset('uploads/fotos/'~photo.path) }}" alt="Second slide" class="img-fluid m-auto" style="max-width: 100%;max-height: 100%;">
                        </div>
                    </a>
             </div>
        {% else %}
            <a href="{{ path('artist_info',{'id':artist.id}) }}" class="picture_link">{{ artist.number }}
                {% set photo = artist.photos|first %}
                 <div class="picture_artist">
                     <p class="no-Foto">No image</p>
                 </div>
            </a>
            </div>
    {% endif %}
    {% endfor %}
    {% if artists is empty %}
        <div class="w-100">
             <h1 class="NothingFound">Nothing Found</h1>
        </div>
    {% endif %}
    </div>
    <div class="navigation mt-5 d-flex justify-content-center">
        {{ knp_pagination_render(artists) }}
    </div>
</div>
{% endblock %}
