{% extends 'base.html.twig' %}
{% block title %}Information{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/artistinfo.css') }}" rel="stylesheet" />

{% endblock %}
{% block body %}
    <div class="container">
        <div class="context">
            <p class="name">{{artist.number}}</p>
            <div class="wrapper">
            <div class="foto m-auto">
        <h3>Photos:</h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    {% if activeFoto != null %}
                        <div class="picture d-flex align-items-center">
                    <img class="d-block w-100"  src="{{ asset('uploads/fotos/'~ activeFoto.path) }}" alt="First slide">
                        </div>
                    {% else %}
                        <div class="noFoto w-100"><p class="mt-5">No image</p></div>
                    {% endif %}
                </div>
                {% for photo in fotos %}
                <div class="carousel-item">
                    <div class="picture d-flex align-items-center">
                    <img class="d-block w-100" src="{{ asset('uploads/fotos/'~photo.path) }}" alt="Second slide">
                    </div>
                </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
            </div>
                <div class="video m-auto">
        <h3>Videos:</h3>
        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel" data-interval="0">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <iframe class="d-block w-100 videos" frameborder="0" src="{{activeLink}}" height="475px"></iframe>
                </div>
                {% for link in links  %}
                <div class="carousel-item">
                    <iframe class="d-block w-100 videos" frameborder="0" src="{{link}}" height="475px"></iframe>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
                <div class="bio w-100 mt-5 mb-5">
                    <h3>Info About Act:</h3>
                    <div class="artistBio">
                        <p>{{ artist.biography|nl2br}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
