{% extends 'base.html.twig' %}
{% block title %}Contacts{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="text_contacts">
            <h2>Address:</h2>
            <p>301 HEIGHTS in 22a FEASTERVILLE TREVOSE FILADELFIA USA</p>
            <h2>Email:</h2>
            <p>BEST_ARTISTS<i class="fas fa-at"></i>yahoo.com</p>
            <h2>Phone:</h2>
            <p>+1(201)233-68-54</p>
            <h2>Follow us</h2>
        </div>
        <a href="https://instagram.com/only_best_artists?utm_source=ig_profile_share&igshid=1k68s9ararmye">
        <img src="{{ asset('images/instagram.png') }}" class="followUs mt-2">
        </a>
        <a href="https://m.vk.com/id136502614">
            <img src="{{ asset('images/VK.png') }}" class="followUs ml-3 mt-2">
        </a>
    </div>
{% endblock %}
