{% extends 'base.html.twig' %}
{% block title %}Home Page{% endblock %}
{% block stylesheets %}{{ parent() }}
    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="mainFoto d-flex flex-wrap justify-content-between">
            <div class="pictureWrapper m-auto" style="width:50%">
                <img src="{{ asset('images/mainFoto.png') }}" class="w-100 h-100 pictureKate">
            </div>
            <div class="mainButtons m-auto">
                <ul class="linksGroup mb-5">
                  <li><a href="{{ path('main_type',{'name':'Musicians'}) }}" class="imageLinks"><span>Musicians</span><img src="{{ asset('images/musicianHomePage.jpeg')}}" class="rounded mainLinks" width="250px"></a></li>
                  <li><a href="{{ path('main_type',{'name':'Dancers'}) }}" class="imageLinks"><span>Dancers</span><img src="{{ asset('images/dancer1.jpeg')}}" class="rounded mainLinks " width="250px"></a></li>
                  <li><a href="{{ path('main_type',{'name':'Circus Acts'}) }}" class="imageLinks"><span>Circus Acts</span><img src="{{ asset('images/acobat1.jpeg')}}" class="rounded mainLinks" width="250px"></a></li>
                 </ul>
             </div>
         </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
{% endblock %}
