{% extends 'base.html.twig' %}
{% block title %}Registration{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{{ asset('css/joinUsForm.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="form-join">
            {% form_theme show_form 'jquery.collection.html.twig' %}
            {{ form_start(show_form,{'attr':{'id':'myform'}}) }}
                <div class="form-group">
                    {{ form_label(show_form.name) }}
                    {{ form_widget(show_form.name,{'attr':{'class':'form-control validate'}}) }}
                    {{ form_errors(show_form.name) }}
                    {{ form_row(show_form.stage_name,{'attr':{'class':'form-control'}}) }}
                    {{ form_row(show_form.country,{'attr':{'class':'form-control'}}) }}
                    {{ form_label(show_form.email) }}
                    {{ form_widget(show_form.email,{'attr':{'class':'form-control validate'}}) }}
                    {{ form_errors(show_form.email) }}
                    <p class="mb-3">Photos:</p>
                    <div>
                         <label for="artist_photos_0_file" class="btn btn-primary">Upload</label>
                         {{ form_widget(show_form.photos,{'attr':{'id':'image_uploads','name':'image_uploads'}}) }}
                    </div>
                    <div class ="preview">
                        <p></p>
                    </div>
                 {{ form_row(show_form.type,{'attr':{'class':'form-control selectpicker'}}) }}
                {{ form_widget(show_form.videoLinks,{'label':false,'class':'errors'}) }}
                {{ form_row(show_form.biography,{'attr':{'class':'col-md-12','rows':8}}) }}
             </div>
        <input type="submit" class="btn btn-success " value="Submit" name="Submit"/>
            {{ form_end(show_form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ asset('js/fotos.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.collection.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.my-selector').collection();
    </script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="{{ asset('js/formValidation.js') }}" type="text/javascript"></script>
{% endblock %}
