{% extends 'base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/mainType.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="container">
    {%if name == 'Musicians'%}
        <ul class="linksGroup d-flex justify-content-around">
            <li><a href="{{ path('show_category',({'name':'Musician'})) }}" class="imageLinks"><span>Musicians</span><img src="{{ asset('images/Insrumentalis.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Singers'})) }}" class="imageLinks"><span>Singers</span><img src="{{ asset('images/Vocalist.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
        </ul>
    {% endif %}
    {%if name == 'Dancers'%}
        <ul class="linksGroup d-flex justify-content-around">
            <li><a href="{{ path('show_category',({'name':'Ballroom Couples'})) }}" class="imageLinks"><span>Ballroom Couples</span><img src="{{ asset('images/Ballroom.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Dancer'})) }}" class="imageLinks"><span>Dancers</span><img src="{{ asset('images/Dancers2.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
        </ul>
    {% endif %}
    {%if name == 'Circus Acts'%}
        <ul class="linksGroup1">
            <li><a href="{{ path('show_category',({'name':'Specialty'})) }}" class="imageLinks"><span>Specialty</span><img src="{{ asset('images/Specials-Type1.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Acrobatics'})) }}" class="imageLinks"><span>Acrobatics</span><img src="{{ asset('images/Acrobat-Type.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Juggling'})) }}" class="imageLinks"><span>Juggling</span><img src="{{ asset('images/Juggler.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Hand-Ballancing'})) }}" class="imageLinks"><span>Hand-Ballancing</span><img src="{{ asset('images/Hand-Ballancing.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Magic'})) }}" class="imageLinks"><span>Magic</span><img src="{{ asset('images/Magic-Type.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Adage'})) }}" class="imageLinks"><span>Adage</span><img src="{{ asset('images/Adage-Type.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Aerial Acts'})) }}" class="imageLinks"><span>Aerial Acts</span><img src="{{ asset('images/Aerial-Type.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Ice Skaters'})) }}" class="imageLinks"><span>Ice Skaters</span><img src="{{ asset('images/IceSkaters-Type.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
            <li><a href="{{ path('show_category',({'name':'Headliners'})) }}" class="imageLinks"><span>Headliners</span><img src="{{ asset('images/Show-Type.jpeg')}}" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
        </ul>
    {% endif %}
</div>
{% endblock %}
